.table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  width: max-content;
}  

td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.deadline-brust {
  background-color: #bbb;
}

.executing {
  background-color: #2CE581;
}

.deadline {
  border-right: rgb(146, 10, 10) 5px solid;
}

.overcharge {
  background-color: #E03A3A;
}

.overflow {
  overflow-x: auto;
  padding: 20px 20px 10px;
}

.process-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.create-process {
  display: flex;
  gap: 10px;
  align-items: center;
}

.processes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.time-data {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.process {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

label {
  font-size: 1.6rem;
}

.create-process {
  display: flex;
  gap: 10px
}

.process-data {
  display: flex;
  gap: 10px;
  align-items: center;
}

.process-data .input {
  margin-right: 10px;
} 

.execution {
  display: flex;
  gap: 10px;
  align-items: center;
}

#turnaround {
  font-size: 1.6rem;
  font-weight: 700;
}

#table {
  margin-top: 20px;
}

td {
  font-size: 1.6rem;
  text-align: center;
}

.legend {
  margin-top: 10px;
  padding: 20px;
}

.legend span {
  font-size: 1.2rem;
  font-weight: 700;
}

.legend-items {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.legend-item {
  display: flex;
   gap: 10px;
}

.legend-color {
  width: 15px;
  height: 15px;
}